html {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin: 2rem;
    padding: 1rem 0 1rem 1rem;
    border: 5px red solid;
}

nav {
    margin: 2rem;
}

nav ul {
    list-style-type: none;
    display: inline;
}

nav ul li {
    float: left;
    margin: 5px;
}

body {
    color: sandybrown;
}

main {
    margin: 2rem;
    padding: 1rem;
    border: 5px teal solid;
}

footer {
    margin: 2rem;
}

.black-border {
    border: 5px solid black;
}

#about-me {
    width: 200px;
    margin: 2rem auto;
}

#green-background {
    padding: 0.1rem 1rem;
    background-color: green;
}